@charset "utf-8";

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #222328;
}

a {
  text-decoration: none;
  display: block;
}

header {
  width: 1200px;
  height: 100px;
}

header .wrap {
  width: 100%;
  height: 100px;
}

.wrap .logo {
  float: left;
  width: 250px;
  height: 100px;
}

.logo img {
  margin-top: 30px;
  margin-left: 25px;
}

.wrap .menu {
  float: right;
  width: 800px;
  height: 100px;
  z-index: 1;
}

.menu .navi {
  width: 720px;
  height: 60px;
  margin-top: 20px;
}

.navi>li {
  float: left;
  width: 180px;
  height: 60px;
}

.navi>li>a {
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #b6325f;
  color: #fff;
}

.navi>li>a:hover {
  background-color: #cb7290;
  color: #222328;
}

.submenu {
  width: 180px;
  height: 240px;
  background-color: #cb7290;
  display: none;
  z-index: 1;
  position: relative;
}

.submenu>li {
  width: 180px;
  height: 60px;
}

.submenu>li>a {
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.submenu>li>a:hover {
  background-color: #b6325f;
  color: #222328;
}

.imgslide {
  width: 1200px;
  height: 300px;
  overflow: hidden;
}

.slidelist {
  width: 100%;
  height: 900px
}


.slidelist ul li {
  width: 100%;
  height: 300px;
  margin: 0;
  position: relative;
}

.imgslide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.imgslide span {
  position: absolute;
  width: 600px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bodywrap {
  width: 1200px;
  height: 200px;
}

.bodywrap .tab {
  float: left;
  width: 395px;
  height: 200px;
  padding: 10px 0;
  margin-right: 5px;
  box-sizing: border-box;
  position: absolute;
}

.tab>ul>li {
  float: left;
  width: 100px;
  line-height: 30px;
}

.tab>ul>li>a {
  display: block;
  font-size: 16px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-bottom: none;
}

.tab>ul>li>a:hover {
  background-color: #eee;
}

.tab>ul>li:first-child a {
  border-right: none;
}

.tab>ul>li.active>a {
  background-color: #fff;
}

.tab>ul>li div {
  position: absolute;
  left: 0;
  height: 0px;
  overflow: hidden;
  top: 40px;
}

.tab>ul>li.active div {
  width: 380px;
  height: 148px;
  border: 1px solid #ddd;
  z-index: 1;
}

.notice ul {
  float: left;
  width: 380px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.notice li {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.notice li:nth-child(even) {
  background-color: #ccc;
}

.notice li span {
  float: right;
}

.notice li:hover {
  font-weight: bold;
}

.gallery li {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}

.gallery img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.gallery li:hover {
  opacity: 0.5;
}

.bodywrap .contents {
  float: right;
  width: 800px;
  height: 100%;
}

.contents .banner {
  float: left;
  width: 395px;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.banner img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.banner span {
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner:hover {
  opacity: 0.5;
}

.contents .shortcut {
  float: right;
  width: 395px;
  height: 100%;
  padding: 10px 0;
  margin-left: 5px;
  box-sizing: border-box;
  position: relative;
}

.shortcut img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.shortcut span {
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shortcut:hover {
  opacity: 0.5;
}

#layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#layer.active{
  display: block;
}

.layer_up {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
}

.layer_up .uptitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.layer_up .upbody {
  font-size: 16px;
  text-align: center;
}

.layer_up .btn {
  width: 80px;
  padding: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}


footer {
  width: 1200px;
  height: 100px;
  background-color: #b6325f;
}

footer .btlogo {
  float: left;
  width: 250px;
  height: 100%;
  /* box-shadow: inset 0 0 10px darkblue; */
  position: relative;
}

.btlogo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


footer .copy {
  float: left;
  width: 650px;
  height: 100%;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

footer .sns {
  float: right;
  width: 300px;
  height: 100%;
}

.sns ul {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

.sns ul li {
  float: left;
}

.sns img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.sns img:hover {
  opacity: 0.5;
}