*{
  margin: 0 auto;
  padding: 0;
  color: #000;
  list-style: none;
}

body {
  width: 1200px;
  background-color: #fff;
  font-size: 20px;
}

a {
  text-decoration: none;
}



.test {
  width: 100%;
  height: 100px;
  background-color: red;
}

/* 이미지 슬라이드 방법1 : fadeIn & fadeOut */

/* certification03 이미지 슬라이드1 */
.imgslide1 {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.imgslide1 a {
  display: block;
  /* position: absolute; */
}

.imgslide1 span {
  width: 300px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(100, 100, 100, 0.7);
}

/* certification06 이미지 슬라이드2 */
.imgslide2 {
  width: 1200px;
  height: 300px;
  position: relative;
}

.imgslide2>a {
  display: bolck;
  position: absolute;
  left: 0;
  top: 0;
}

.imgslide2 .imgtext {
  width: 300px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  margin: -25px 0 0 -150px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: rgba(40, 40, 40, 0.3);
  left: 50%;
  top: 50%;
}

/* certification07 이미지 슬라이드3 */
.imgslide3 {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.imgslide3>a {
  display: block;
  position: absolute;
}

.imgtext {
  width: 500px;
  height: 50px;
  position: absolute;
  margin: -30px 0 0 -250px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  background-color: rgba(40, 40, 40, 0.5);
  left: 50%;
  top: 50%;
}

/* 연습 이미지 슬라이드4 */
.imgslide4 {
  width: 1200px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.imgslide4 a {
  position: absolute;
}

.imgslide4 span {
  width: 300px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 40px;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.5);
  text-align: center;
}

/* 이미지 슬라이드 방법2 : 상하 좌우 이동 */

/* certification04 */
.imgslide5 {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.imgslide5 .slidelist5 {
  height: 900px;
}

.slidelist5 ul li {
  height: 300px;
  float: left;
}

.slidelist5 span {
  width: 500px;
  height: 50px;
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  background-color: rgba(40, 40, 40, 0.5);
  margin-left: 350px;
  margin-top: 125px;
}

/* certification02 */
.imgslide6 {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.imgslide6 .slidelist6 {
  width: 3600px;
}
.slidelist6 ul li {
  width: 1200px;
  float: left;
}
.slidelist6 span {
  width: 500px;
  height: 50px;
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  background-color: rgba(40, 40, 40, 0.5);
  margin-left: 350px;
  margin-top: 125px;
}

/* 연습 */

.imgslide7 {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slidelist7 {
  height: 900px;
}

.slidelist7 ul li {
  height: 300px;
  position: relative;
}


.slidelist7 span {
  width: 500px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  background-color: rgba(40, 40, 40, 0.5);
}

.imgslide8 {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slidelist8 {
  width: 3600px;
}

.slidelist8 ul li {
  width: 1200px;
  position: relative;
  float: left;
}

.slidelist8 span {
  width: 500px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  background-color: rgba(40, 40, 40, 0.5);
}

.box {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  position: relative;
}

.item {
  width: 50px;
  height: 50px;
  background-color: #000;
  margin: 0;
  position: absolute;
  margin-top: calc(100% / 2 - 25px);
  margin-left: calc(100% / 2 - 25px);
}

/* 탭기능 */
/* certification11 */
.tab {
  width: 400px;
  height: 200px;
  float: left;
  padding: 10px 5px 10px 0;
  box-sizing: border-box;
  position: relative;
}

.tab ul {
  float: left;
  width: 395px;
  height: 180px;
}

.tab>ul>li {
  float: left;
  width: 100px;
  line-height: 30px;
  box-shadow: inset 0 0 10px black;
}

.tab>ul>li>a {
  display: block;
  font-size: 16px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-bottom: none;
}

.tab>ul>li>a:hover {
  background-color: #eee;
}

.tab>ul>li:first-child a {
  border-right: none;
}

.tab>ul>li.active>a {
  background-color: #fff;
}

.tab>ul>li div {
  position: absolute;
  left: 0px;
  height: 0px;
  overflow: hidden;
}

.tab>ul>li.active div {
  width: 393px;
  height: 148px;
  border: 1px solid #eee;
  z-index: 1;
}

.notice ul {
  float: left;
  width: 393px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.notice li {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.notice li:nth-child(even) {
  background-color: #ccc;
}

.notice li span {
  float: right;
}

.notice li:hover {
  font-weight: bold;
}

.gallery li {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}

.gallery img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.gallery li:hover {
  opacity: 0.5;
}

/* 탭1 연습 */

.tab1 {
  width: 395px;
  height: 180px;
  margin-left: 0;
}

.tab1>ul>li {
  float: left;
  width: 100px;
  height: 30px;
}

.tab1>ul>li>a {
  display: block;
  text-align: center;
  line-height: 30px;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-bottom: none;
}

.tab1>ul>li:first-child {
  border-right: none;
}

.tab1>ul>li div {
  position: absolute;
  left: 0;
  height: 0;
  overflow: hidden;
}

.tab1>ul>li.active div {
  width: 395px;
  position: absolute;
  height: 150px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.tab1>ul>li>a:hover {
  background-color: #eee;
}

.tab1>ul>li.active>a {
  background-color: #fff;
}


.notice1 ul {
  float: left;
  width: 393px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.notice1 li {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.notice1 li:nth-child(even) {
  background-color: #ccc;
}

.notice1 li span {
  float: right;
}

.notice1 li:hover {
  font-weight: bold;
}


.gallery1 li {
  margin-top: 15px;
  margin-left: 5px;
  float: left;
}

.gallery1 img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.gallery1 li:hover {
  opacity: 0.5;
}


