@charset "utf-8";

:root {
  --main-color: #1abcfe;
  --sub-color: #1ff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
}

a {
  display: block;
  text-decoration: none;
}

header {
  width: 200px;
  min-height: 850px;
  float: left;
  background-color: var(--main-color);
}

header .logo {
  width: 100%;
  height: 180px;
  background-color: #fff;
}

.logo img {
  margin-top: 40px;
}

header .menu {
  width: 180px;
  height: 200px;
  margin: 20px auto;
}

header #bg_menu {
  width: calc(100% - 190px);
  height: 200px;
  position: absolute;
  top: 200px;
  left: 190px;
  background-color: #ddd;
  opacity: 0.8;
  z-index: 2;
}

.navi>li {
  width: 180px;
  height: 50px;
  position: relative;
  background-color: #fff;
}

.navi>li>a {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.navi>li:hover {
  background-color: #bbb;
}

.submenu {
  width: 800px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 3;
}

.submenu>li {
  width: 180px;
  height: 50px;
  display: inline;
  float: left;
}

.submenu>li>a {
  text-align: center;
  line-height: 50px;
}

.submenu>li>a:hover {
  background-color: #333;
  color: var(--main-color);
}

header .spotmenu {
  width: 180px;
  margin-left: 10px;
  text-align: center;
}

.spotmenu a {
  display: inline;
}

.spotmenu a:first-child::after {
  content: "|";
  display: inline-block;
  margin: 0 5px;
}

.imgslide {
  width: calc(100% - 200px);
  height: 400px;
  position: relative;
  overflow: hidden;
  float: right;
}

.imgslide a {
  position: relative;
  float: left;
}

.imgslide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.imgslide span {
  width: 400px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(40, 40, 40, 0.7);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.contents {
  width: calc(100% - 200px);
  height: 450px;
  float: right;
}

.contents .banner {
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
}

.banner a {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #ddd;
}

.banner img {
  width: 120px;
  height: 120px;
}

.banner p {
  margin-left: 40px;
}

.banner a:hover {
  opacity: 0.5;
}

.contents .tab {
  width: 100%;
  height: 250px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.tab>ul>li>a {
  width: 100px;
  height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
  line-height: 30px;
  border-bottom: none;
}

.tab>ul>li:first-child> a{
  border-right: none;
}

.tab>ul>li>a:hover {
  background-color: #eee;
}

.tab>ul>li.active>a {
  background-color: #fff;
}

.tab>ul>li.active div {
  width: calc(100% - 40px);
  height: calc(100% - 70px);
  border: 1px solid #ddd;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  top: 50px;
}

.tab>ul>li div {
  overflow: hidden;
  height: 0;
}

.notice ul li {
  height: 34px;
}

.notice ul li a {
  line-height: 34px;
}

.notice ul li a span {
  float: right;
}

.notice ul li:hover {
  font-weight: bold;
}

.gallery ul {
  display: flex;
  justify-content: space-evenly;
}

.gallery img:hover {
  opacity: 0.5;
}

.contents .direct {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ddd;
}

.direct ul li:not(:last-child) {
  margin-bottom: 10px;
}

.direct img {
  width: 80px;
}

.direct img:hover {
  opacity: 0.5;
}

#layer {
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
  display: none;
}

#layer.active {
  display: block;
}

#layer h4 {
  margin-bottom: 20px;
}

#layer .btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
}

footer {
  width: 100%;
  height: 120px;
  float: left;
  background-color: #ddd;
}

footer .btlogo {
  width: 200px;
  height: 120px;
  float: left;
}

.btlogo img {
  margin-top: 10px;
}

footer .btmenu {
  width: calc(100% - 200px);
  height: 60px;
  float: right;
}

.btmenu ul {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btmenu ul li:hover {
  font-weight: bold;
}

footer .copy {
  width: calc(100% - 200px);
  height: 60px;
  float: right;
  text-align: center;
  line-height: 60px;
}