:root {
  --main-color: #7c53c4;
  --sub-color: #a259fe
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  display: block;
}

body {
  box-shadow: inset 0 0 10px black;
}

header {
  width: 200px;
  min-height: 650px;
  float: left;
  background-color: #eef;
}

header .logo {
  width: 100%;
  height: 100px;
}

.logo img {
  margin-top: 6px;
}

header .menu {
  width: 180px;
  margin: 20px auto;
}

.navi>li {
  width: 180px;
  background-color: var(--sub-color);
}

.navi>li>a {
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.navi>li:hover {
  background-color: var(--main-color);
}

.submenu>li {
  width: 180px;
  background-color: #ddd;
}

.submenu>li>a {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

.submenu>li:hover {
  background-color: #eee;
}

.imgslide {
  width: calc(100% - 430px);
  height: 400px;
  float: left;
  overflow: hidden;
}

.slidelist {
  width: calc(100% * 3);
  height: 400px;
}

.slidelist ul li {
  width: calc(100% / 3);
  height: 400px;
  float: left;
  position: relative;
}

.slidelist img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.slidelist span {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  text-align: center;
  line-height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.slidelist ul li:nth-child(odd) span {
  left: 0;
}

.slidelist ul li:nth-child(even) span {
  right: 0;
}

.banner {
  width: 230px;
  height: 400px;
  float: right;
  position: relative;
}

.banner img {
  width: 230px;
  height: 400px;
}

.banner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 400px;
}

.banner:hover {
  opacity: 0.5;
}

.contents {
  width: calc(100% - 200px);
  height: 250px;
  float: left;
}

.contents h4 {
  width: 100px;
  height: 30px;
  background-color: #eee;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.contents .notice {
  width: calc(100% / 2);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.notice div,
.gallery div {
  width: 100%;
  height: calc(100% - 30px);
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
}

.notice ul li {
  height: calc(138px / 4);
}

.notice ul li a {
  line-height: calc(138px / 4);
}

.notice ul li a span {
  float: right;
}

.notice ul li:hover {
  font-weight: bold;
}

.contents .gallery {
  width: calc(100% / 2);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  float: right;
}

.gallery ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.gallery ul li:hover {
  opacity: 0.5;
}

#modal_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

#modal_up.active {
  display: block;
}

.modal {
  width: 400px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.modal h4 {
  text-align: center;
  margin-bottom: 20px;
}

.modal .btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
}

footer {
  width: 100%;
  height: 100px;
  float: left;
  background-color: #eee;
}

footer .logo {
  width: 200px;
  height: 100px;
  float: left;
}

footer .copy {
  width: calc(100% - 430px);
  height: 100px;
  float: left;
  text-align: center;
  line-height: 100px;
}

footer .familysite {
  width: 230px;
  height: 100px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.familysite select {
  height: 30px;
}