* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #222328;
}

a {
  display: block;
  text-decoration: none;
}

body {
  width: 1000px;
  height: 650px;
  margin: 0 auto;
}

header {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #1abcfe;
}

header .logo {
  width: 100%;
  height: 100px;
}

.logo img {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}

header .menu {
  width: 180px;
  margin: 20px auto;
}

.navi>li {
  width: 180px;
  background-color: #fff;
}

.navi>li>a {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.navi>li>a:hover {
  background-color: #f24e1e;
  color: #fff;
}

.submenu {
  width: 180px;
  display: none;
}

.submenu>li {
  width: 180px;
  background-color: #fff;
}

.submenu>li>a {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

.submenu>li>a:hover {
  background-color: #ff0;
  color: #f24e1e;
}

.imgslide {
  width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.imgslide a {
  position: absolute;
}

.imgslide span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.5);
}

.contents {
  width: 800px;
  height: 200px;
  float: left;
}

.contents .tab {
  width: 320px;
  height: 200px;
  padding: 10px 5px 10px 0;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.tab>ul>li>a {
  width: 80px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-bottom: none;
}

.tab ul li:first-child a {
  border-right: none;
}

.tab>ul>li>a:hover {
  background-color: #eee;
}

.tab>ul>li.active>a {
  background-color: #fff;
}

.tab>ul>li div {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
}

.tab>ul>li.active div {
  position: absolute;
  top: 40px;
  width: 315px;
  height: 150px;
  border: 1px solid #ddd;
}

.notice ul {
  padding: 5px 0;
}

.notice ul li {
  height: 35px;
  padding: 0 10px;
  box-sizing: border-box;
}

.notice ul li:nth-child(even) {
  background-color: #eee;
}

.notice ul li a {
  line-height: 35px;
}

.notice ul li a span {
  float: right;
}

.notice ul li:hover {
  font-weight: bold;
}

.gallery ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gallery img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.gallery img:hover {
  opacity: 0.5;
}

.contents .banner {
  width: 240px;
  height: 200px;
  padding: 10px 5px;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.banner img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(40, 40, 40, 0.5);
  color: #fff;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.banner a:hover {
  opacity: 0.5;
}


.contents .shortcut {
  width: 240px;
  height: 200px;
  padding: 10px 0 10px 5px;
  box-sizing: border-box;
  float: right;
  position: relative;
}


.shortcut img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.shortcut span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(40, 40, 40, 0.5);
  color: #fff;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.shortcut a:hover {
  opacity: 0.5;
}

#layer {
  width: 400px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: none;
}

#layer.active {
  display: block;
}

.uptitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
}

footer {
  width: 800px;
  height: 100px;
  float: left;
  background-color: #ddd;
}

footer .btlogo {
  width: 200px;
  height: 100px;
  float: left;
}

.btlogo img {
  width: 200px;
  height: 40px;
  margin-top: 30px;
}

footer .btwrap {
  width: 600px;
  height: 100px;
  float: right;
}

.btwrap .btmenu {
  width: 100%;
  height: 50px;
}

.btmenu ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btmenu ul li a:hover {
  font-weight: bold;
}

.btwrap .copy {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}